.container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding-right: 15px;
}

.containerSVG {
    background: none;
    border: none;
    padding: 0;
  
    display: flex;
    align-items: center;
    justify-content: center;
  
    width: auto;
    height: auto;
  
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.2s ease;
  }

.popUp { 
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    right: 100%;
    top: 50%;
    transform: translateY(-50%);  
    background-color: var(--white-gray-color);
    width: 150px;
    height: 30px;
    border-radius: 5px 0 0 5px;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.2s ease;
  }

.infoIconContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 15px;
  }

.infoIconContainer:hover .popUp {
    opacity: 1;
    pointer-events: auto;
  }

.container:hover .containerSVG {
    opacity: 1;
    pointer-events: auto;
  }
  
.claimCell {
  background-color: color-mix(in srgb, var(--light-blue-color) 50%, transparent);
}

.cell:hover {
  background-color: var(--green-color);
  transition: var(--transition-duration);
}

.inputCell {
  width: 100%;
  background-color: transparent;
  color: var(--white-color);
  text-align: center;
}

.select {
  height: 100%;
}

.containerSVGButton {
  width: 20px;
  height: 20px;
}

.editIconButton {
  position: absolute;
  top: 50%;
  left: 45px;
  transform: translateY(-50%);
}

.svgsContainer {
  position: relative;
  display: flex;
  align-items: center;
  gap: 10px;
}