.footer {
    display: flex;
    justify-content: left;
    align-items: center;
    background-color: var(--light-dark-color);
    min-height: 50px;
}

.rights {
    font-size: 8px;
    padding-left: 20px;
}