.modal {
    position: fixed;
    top: 20px;
    right: 20px;
    z-index: 10;
  
    padding: 16px 24px;
  
    background: var(--green-color);
    color: var(--white-color);
  
    border-radius: 10px;
  
    box-shadow: 0 4px 10px rgba(0,0,0,.2);
  
    animation: fadeIn 0.3s ease;
  }

.isError {
  background: var(--dark-red-color);
}
  
@keyframes fadeIn {
    from {
      opacity: 0;
      transform: translateY(-10px);
    }
  
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
