body {
    display: flex;
    flex-direction: column;
    background-color: var(--gray-color);
    font-family: "FACEBOLF", sans-serif;
    color: var(--white-color);
}

h1 {
    font-size: clamp(15px, 2vw, 35px)
}

select {
    width: 100%;
    background-color: transparent;
    border: none;
    color: var(--white-color)
  }

option {
    background-color: var(--white-gray-color);
    height: 100%;
}

td {
    text-align: center;
    border: 1px solid var(--white-color);
    height: 32px;
    vertical-align: middle;
}

input:focus::placeholder {
    opacity: 0;
  }

.schedule_select_td:hover {
    background-color: var(--green-color);
    transition-duration: var(--transition-duration);
}

.errorMessage {
    font-size: clamp(8px, 1.5vw, 12px);
    color: var(--dark-red-color);
}

.successMessage {
    font-size: clamp(8px, 1.5vw, 12px);
    color: var(--green-color);
}

.hidden {
    position: absolute;
    opacity: 0;
    width: 0;
    height: 0;
  }

@media (max-width: 1000px) {
    .container {
        padding: 40px;
    }
}

