@font-face {
    font-family: "FACEBOLF";
    src: url("../assets/fonts/FACEBOLF.woff2") format("woff2");
    font-weight: 400;
    font-style: normal;
  }

:root {
    --white-color: #FFFFFF;
    --gray-color: #2c2a2a;
    --white-gray-color: #4b4a4a;
    --light-gray-color: #373535;
    --light-dark-color: #161414;
    --dark-red-color: #a6192e;
    --green-color: #009E24;

    --transition-duration: 0.2s;
    --shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
}