.container {
    position: fixed;
    min-width: 50vw;
    min-height: 50vh;
    overflow: hidden;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 4vw;
    background-color: var(--gray-color);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 1vw;
    border: 0.1vw solid var(--white-color);
}

.title {
    font-size: 2em
}

.crossButton {
    position: fixed;
    right: 15px;
    top: 15px;
}

.crossIcon {
    width: 1vw;
}

.overlay {
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9;
}
