.header {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--light-dark-color);
    min-height: 50px;
}

.logo {
    width: 5em;
}

.logo_container {
    width: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.navbar_container {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.navbar_items {
    display: flex;
    gap: 100px;
}

.navbar_item {
    font-size: 12px;
}

.navbar_item_link {
    text-decoration: none;
    color: var(--white-color);
    font-size: 12px;
}

.navbar_item_link:hover {
    color: var(--white-gray-color);
    transition-duration: var(--transition-duration);
}

.current {
    color: var(--white-gray-color);
}

.burger_label {
    display: none;
}


@media (max-width: 650px) {
    .burger_label {
        display: block;
        position: relative;
        height: 25px;
        width: 30px;
    }

    .burger_label::after, .burger_label::before, .burger_lable_span {
        position: absolute;
        width: 100%;
        height: 3px;
        background-color: var(--white-color);
        transition: var(--transition-duration);
    }

    .burger_label::before {
        content: '';
        top: 0;
    }

    .burger_label::after {
        content: '';
        bottom: 0;
    }

    .burger_lable_span {
        top: 11px;
    }

    .logo_admin {
        display: none;
    }

    .navbar_items {
        gap: 50px;
    }
}