.button {
    background-color: var(--white-gray-color);
    color: var(--white-color);
    width: clamp(70px, 6vw, 130px);
    height: clamp(30px, 2.5vw, 60px);
    border-color: transparent;
    border-radius: 7px;
    font-size: clamp(9px, 0.7vw, 16px);
    box-shadow: var(--shadow);
}

.button:hover {
    background-color: var(--white-color);
    transition-duration: var(--transition-duration);
    color: var(--white-gray-color)
}