.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 70%;
}

.top_button_line  {
    display: flex;
    justify-content: space-between;
}

.bottom_button_line {
    display: flex;
    justify-content: space-between;
}

.bottom_button.bottom_button {
    border-radius: 0px 0px 15px 15px;
    width: 120px;
}

.top_button.top_button {
    border-radius: 7px 7px 0px 0px;
    width: 200px;
    font-size: 16px;
}

.tablename_span {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--white-gray-color);
    color: var(--color-white);
    width: clamp(140px, 14vw, 240px);
    height: clamp(40px, 2.5vw, 800px);
    border-color: transparent;
    border-radius: 7px 7px 0px 0px;
    font-size: 16px;
}