.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 70%;
    position: relative;
}

.topLine  {
    display: flex;
    justify-content: space-between;
}

.bottomLine {
    display: flex;
    justify-content: space-between;
}

.bottomButton.bottomButton {
    border-radius: 0px 0px 15px 15px;
    width: 120px;
}

.tablenameSpan {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--white-gray-color);
    color: var(--color-white);
    width: clamp(140px, 14vw, 240px);
    height: clamp(40px, 2.5vw, 800px);
    border-color: transparent;
    border-radius: 7px 7px 0px 0px;
    font-size: 16px;
}

.tableMainContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.icon {
    stroke: var(--white-color);
    stroke-width: 2;
    stroke-linecap: round;
    stroke-linejoin: round;
    width: 35px;
    height: 35px;
  }

.icon:hover {
    stroke: var(--white-gray-color);
    transition-duration: var(--transition-duration);
}

.loading {
    position: relative;
    display: block;
}

.blurred {
    filter: blur(2px);
    pointer-events: none;
    user-select: none;
  }

.loadingOverlay {
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9;
}

.IconArrowButton {
    width: 35px;
    height: 35px;
}