.fieldContainer {
    display: flex;
    flex-direction: column;
    gap: 2px;
}

.fieldLabel {
    display: flex;
    flex-direction: column;
    gap: 0.3vw;
    font-size: clamp(12px, 1.5vw, 12px);
    cursor: text;
}

.fieldInput {
    align-items: flex-start;
    border: none;
    border-radius: clamp(4px, 0.5vw, 7px);
    background-color: var(--white-gray-color);;
    color: var(--white-color);
    width: clamp(180px, 15vw, 350px);
    height: clamp(23px, 1.85vw, 100px);
    font-size: clamp(10px, 0.7vw, 16px);
    padding-left: 5px;
    box-shadow: var(--shadow);
}

.fieldInput:focus { 
    outline: none;
}

.fieldInputOnError  {
    border: 2px solid var(--dark-red-color);
}


@media (max-width: 1100px) {
    .fieldInputOnError  {
        border: 1px solid var(--dark-red-color);
    }
}