.fieldContainer {
    display: flex;
    flex-direction: column;
    gap: 2px;
}

.fieldLabel {
    font-size: clamp(8px, 1.5vw, 12px);
    cursor: text;
}

.fieldInput {
    border: 2px solid var(--white-gray-color);
    border-radius: clamp(4px, 0.5vw, 7px);
    color: var(--white-color);
    width: clamp(120px, 15vw, 300px);
    height: clamp(18px, 1.8vw, 80px);
    font-size: 12px;
    padding-left: 5px;
}

.fieldInput:focus {
    background-color: var(--white-gray-color);
    transition-duration: var(--transition-duration);
}

.fieldInputOnBlur {
    background-color: var(--white-gray-color);
    border-color: var(--white-color);
}