.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 40px;
    align-items: center;
    background-color: var(--light-gray-color);
    width: 28vw;
    height: 30vw;
    border: 3px solid var(--white-gray-color);
    border-radius: 5px;
}