.claims_table_select {
    width: 100%;
    background-color: transparent;
    border: none;
    color: var(--white-color)
  }

.claims_table_select_option {
    background-color: var(--white-gray-color);
    height: 100%;
}