.userText.userText {
    width: 100%;
  }

.iconWrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.plusButton {
  width: 20px;
  height: 20px;

  background: none;
  border: none;
  padding: 0;

  display: flex;
  align-items: center;
  justify-content: center;
  }